<!doctype html>
<html lang="en">
    <head>
        <title>Val Blog</title>
        <link rel="stylesheet" type="text/css" href="/public/form.css">
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
    <body>
        <div class='banner'>Valentine's Blog App</div>
        <div class='container'>    
            <p class='welcome'>Focus on a post</p>
            <div class='post'>
                <h2><%=post.title%></h2>
                <p class='post-meta'><%=post.pretty_date%> by <%=post.author%></p>
                <p><%=post.content%>...</p>
                <a href="edit?index=<%=index%>">Edit</a>
                <a href="destroy?index=<%=index%>">Delete</a>

                <div class='comment'>
                    <% if !post.comments.empty? %>
                        <h3>Comments</h3>
                        <% post.comments.each do |comment| %>
                            <p>-<%=comment.author%> : <%=comment.content%></p>
                        <% end %>
                    <% end %>
                    <h3>Add a comment:</h3>
                    <form action="comment/create_show" method="POST" style="display:inline;">           
                        <div class="ui form">
                            <div class="field">
                                <input type='hidden' name='index' value='<%=index%>'>
                                <label>Comment</label>
                                <textarea name="comment"></textarea>
                                <label>Author</label>
                                <input type="text" name="author">
                            </div>

                        </div>
                        <input type="submit" value="Submit" style="display:inline;">
                    </form>
                </div>
               <br>
                <hr>
            </div>
            <a href="/">Back</a>
        </div>
    </body>
</html>

